body {
    background-color: none;
    
}

#header{
    background-color: none;
    min-height: 150px;
}
#header > h1 {
    margin: auto;
    text-align:center;
    font-family:serif;
    position:relative; transform: translateY(50%);
    color: black;
    font-size: 60px;
    background-color: lightgrey;
}

#header > h2 {
    text-align:center;
    font-family: serif;
    font-size: 45px;
    background-color: lightgrey;
    margin-bottom: auto;
    
}
#aside-content-wrapper {
    background-color: plum;
    font-family:'lato' , sans-serif;
    background-color: #fff;
    margin-top: 50px;
}

#aside-right {
    margin: 0 50px 0 8px;
}

#aside-right h3 {
    margin: 0 50px 0 8px;
    text-align: center;
}
#works  {
    list-style-type: none;
    display: flex;
    max-height: 200px;
    max-width: 200px;
    align-content:space-between;
    margin: 25px;
    text-align: center;

}
#works > li {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    border-bottom: 1px black solid;
   
}

#works > li:before {
    content:"";
    border-color: transparent #008eef;
    border-style:solid;
    border-width: 0.35em 0 0.35em 0.45em;
    display: block;
    height:0;
    width: 0;
    left:-1em;
    top:0.9em;
    position:relative;
}
.img{
    background-color: red;
}

 @media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}  
}

@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}
img { max-width: 100%; }
/*
.button1 {
    background-color: darkgray; 
    color: white; 
    border: 2px solid black;
    width: 200px;
    height: 100px;
    text-align: center;
}

.button2 {
    background-color: darkgray; 
    color: white; 
    border: 2px solid black;
    width: 200px;
    height: 100px;
    text-align: center;
}

.button3 {
    background-color: darkgray; 
    color: white; 
    border: 2px solid black;
    width: 200px;
    height: 100px;
    text-align: center;
}
*/

.col-1{
    width: 8.33%;
}
.col-2{
    width: 16.667%%;
}
.col-{
    width: 25%;
}
.col-4{
    width: 33.333%;
}
.col-5{
    width: 41.667%;
}
.col-6{
    width: 50%;
}
.col-7{
    width: 58.333%%;
}
.col-8{
    width: 66.667%;
}
.col-9{
    width: 75%;
}
.col-10{
    width: 83.333%;
}
.col-11{
    width: 91.667%;
}
.col-12{
    width: 100%;
}

div{
    text-align: center;
}