body {
    background-color: none;
    
}

#header{
    min-height: 150px;
}
#header > h1 {
    margin: auto;
    text-align:center;
    font-family:serif;
    position:relative; transform: translateY(50%);
    color: black;
    font-size: 60px;
    background-color: lightgrey;
    margin-top: -100px;
    
}

#header > h2 {
    text-align:center;
    font-family: serif;
    font-size: 45px;
    background-color: lightgrey;
    margin-bottom: auto;
    margin-top: 65px;
    margin-left: -20px;
    margin-right: -20px;
  
}

body{
    background-color:aliceblue;
}
#aside-content-wrapper {
    background-color: plum;
    font-family:'lato' , sans-serif;
    background-color: #fff;
    margin-top: 50px;
}
image-content > img{
    text-align: center;
    
}
#aside-right {
    margin: 0 50px 0 8px;
}

#aside-right h3 {
    margin: 0 50px 0 8px;
    text-align: center;
}

h3{
    width:600px;
    margin:0 auto;
    font-weight: 500;
    text-align: center;
}

.featuredimages > .col-md-4 >img{
    max-width: 400px;
    margin: 0 auto;
   
}
.featuredimages > .col-md-4 >img > .h4{
   margin:0 auto;
} 
h4{
    margin: 20px;
    text-align: center;
    width: 600px;
    height: 500px;
}
.img{
    background-color: red;
}

 @media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}  
}

@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}
img { max-width: 100%; }


.col-1{
    width: 8.33%;
}
.col-2{
    width: 16.667%%;
}
.col-{
    width: 25%;
}
.col-4{
    width: 33.333%;
}
.col-5{
    width: 41.667%;
}
.col-6{
    width: 50%;
}
.col-7{
    width: 58.333%%;
}
.col-8{
    width: 66.667%;
}
.col-9{
    width: 75%;
}
.col-10{
    width: 83.333%;
}
.col-11{
    width: 91.667%;
}
.col-12{
    width: 100%;
}

