body {
    background-color: none;
    
}

#header{
    background-color: none;
    min-height: 150px;
}
#header > h1 {
    margin: 0;
    text-align:right;
    font-family:serif;
    position:relative; transform: translateY(50%);
    color: black;
    font-size: 60px;
    background-color: lightgrey;
}

#header > h2 {
    text-align:right;
    font-family: serif;
    font-size: 45px;
    background-color: lightgrey;
    
}
#aside-content-wrapper {
    background-color: plum;
    font-family:'lato' , sans-serif;
    background-color: #fff;
    margin-top: 50px;
}

#aside-right {
    margin: 0 50px 0 8px;
}

#aside-right h3 {
    margin: 0 50px 0 8px;
    text-align: center;
}
#works  {
    list-style-type: none;
    display: flex;
    max-height: 200px;
    max-width: 200px;
    align-content:space-between;
    margin: 25px;

}
#works > li {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    border-bottom: 1px black solid;
   
}

#works > li:before {
    content:"";
    border-color: transparent #008eef;
    border-style:solid;
    border-width: 0.35em 0 0.35em 0.45em;
    display: block;
    height:0;
    width: 0;
    left:-1em;
    top:0.9em;
    position:relative;
}
.img{
    background-color: red;
}

 
